.vscode
.idea
.env
**/node_modules/
nutrihelp_ai/data
venv/
env/
.venv/

__pycache__/
*.py[cod]
*.pyc
*.pth
!nutrihelp_ai/services/Food_Image_Classifier/outputs/models/food_classifier.pth
*.h5
.DS_Store

*.tar.gz

2025-T1/Food-Image-Classifier/scripts/data/food-101/images/
2025-T2/Multi-Image-Classifier/scripts/VFN/Images/.Rhistory
